.header {
height: auto;


}

body{
    background-color: black;

}
.logo {
    float: left;
    width: 40%;
    position: relative;
}
.lewy {
    width: 30%;
    height: 100px;
    float: left;
    position: relative;
}
.prawy{
    width: 30%;
    float: left;
    height: 100px;
    position: relative;
}
model-viewer {
    width: 100%;
    position: relative;
}
.products {
    width: 100%;
    position: relative;
    float: left;
}
.pants {


    width: 50%;
    position: relative;
    scale: 0.7;
 

}

.hoodie {
    width: 50%;
    float: left;
    position: relative;
    scale: 0.7;

}



video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
.pants:hover {
    scale: 0.75;
    transition: 0.2s;

  }
  .hoodie:hover {
    scale: 0.75;
    transition: 0.2s;

  }
.fp, .fmid {
    float: left;
    width: 33%;
    position: relative;
    height: 50px;;

}
.fl {
    float: left;
    width: 34%;
    position: relative;
    height: 50px;
}
.fmid {
    text-align: center;
    color: white;
    position: relative;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: normal;
    text-shadow: black 0px 0px 15px;
    text-decoration: none;


}
.footer {
    position: relative;
    width: 100%;
    height: auto;
    text-decoration: none;
}

.ig:hover{
    color: #cfcfcf;

}
.ig {
    text-decoration: none; 
    color: white;
    padding-left: 10px;
}
.tt {
    text-decoration: none; 
    color: white;
    padding-left: 10px;
}
.tt:hover {
    color: #cfcfcf;
}